<div class="sidebar">
  <mat-nav-list>
    <mat-list-item>

      <mat-icon>calendar_today</mat-icon>
      <a routerLink="appointments" routerLinkActive="router-link-active">Appointments</a>
    </mat-list-item>
    <mat-list-item>

      <mat-icon>local_pharmacy</mat-icon>
      <a routerLink="sales" routerLinkActive="router-link-active">Sales</a>
    </mat-list-item>
    <mat-list-item>

      <!-- <mat-icon>receipt</mat-icon> local_pharmacy  -->
      <mat-icon>receipt</mat-icon>
      <a routerLink="billings" routerLinkActive="router-link-active">Sale History</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon>account_circle</mat-icon>
      <a routerLink="users" routerLinkActive="router-link-active">Users</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon>face</mat-icon>
      <a routerLink="patients" routerLinkActive="router-link-active">Patients</a>

    </mat-list-item>
    <mat-list-item>
      <mat-icon>account_circle</mat-icon>
      <a routerLink="doctors" routerLinkActive="router-link-active">Doctors</a>

    </mat-list-item>
    <mat-list-item>
      <mat-icon>account_circle</mat-icon>
      <a routerLink="itemdetails" routerLinkActive="router-link-active">Items</a>

    </mat-list-item>
    <mat-list-item>
      <mat-icon>settings</mat-icon>
      <a routerLink="settings" routerLinkActive="router-link-active">Settings</a>

    </mat-list-item>
  </mat-nav-list>


</div>
