$font-normal: "Raleway",
sans-serif;
$font-button: "Raleway",
sans-serif;
$font-table: "Raleway",
sans-serif;

$weight-normal: 400;
$weight-bold: 600;

input,
select,
textarea,
option {
  font-weight: 450;
}
